<!DOCTYPE html>
<html lang="en" ng-app="termproject">
<head>
  <title>Character Creator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
    
      

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body ng-controller="CharacterController">
<!-- navbar!-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="credits.html">Team 13</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ><a href="index.html">Home</a></li>
        <li class="active"><a href="newSelect.html">Character Sheet</a></li>
        <li><a href="myChar.html">My Character</a></li>
      </ul>
        
    </div>
  </div>
</nav>

<!-- header, instructions, diceroll-->
<div class="container text-center">    
  <div class = "well">
    <h3>Instructions</h3><br>
      <p>Use the form below to begin creating your character. Press the "Roll" buttons below to simulate a dice roll, should you need to. The first "Roll" button simulates rolling 4 6-sided dice and dropping the lowest value (for ability scores), while the others simulate rolling a single die of the indicated number of sides. On submit, your character information is stored and can be accessed on the "My Character" page.</p>
      
<button id="4d6D1" class="randomNum randomNode" min="3" max="18" master="4d6D1" combinationsArray = "1 4 10 21 38 62 91 122 148 167 172 160 131 94 54 21">Roll 4d6, drop the lowest</button>
      
<button id="d4" class="randomNum randomNode" min="1" max="4" master="d4" combinationsArray = "1 1 1 1">Roll d4</button>
      
<button id="d6" class="randomNum randomNode" min="1" max="6" master="d6" combinationsArray = "1 1 1 1 1 1">Roll d6</button>
      
<button id="d8" class="randomNum randomNode" min="1" max="8" master="d8" combinationsArray = "1 1 1 1 1 1 1 1">Roll d8</button>
      
<button id="d10" class="randomNum randomNode" min="1" max="10" master="d10" combinationsArray = "1 1 1 1 1 1 1 1 1 1">Roll d10</button>

<button id="d12" class="randomNum randomNode" min="1" max="12" master="d12" combinationsArray = "1 1 1 1 1 1 1 1 1 1 1 1">Roll d12</button>
      
<button id="d20" class="randomNum randomNode" min="1" max="20" master="d20" combinationsArray = "1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1">Roll d20</button>

    </div>  
</div>
    
    
<div class = "container">
<!-- text fields!-->
    <div class = well-lg>
<div class="row">

 <div class="col-md-4">
  <label for="usr">Name:</label>
  <input type="text" ng-model="name" placeholder="character name" class="form-control" id="usr">
 </div>
    
 <div class="col-md-4">
  <label for="usr">Sex:</label>
  <input type="text" ng-model="sex" placeholder="character sex" class="form-control" id="usr">
 </div>
 
 <div class="col-md-4">
  <label for="usr">Player:</label>
  <input type="text" ng-model="player" placeholder="player" class="form-control" id="usr">
 </div>  
    
<div class="col-md-4">
  <label for="usr">Age:</label>
  <input type="text" ng-model="age" placeholder="character age -- include unit (years, days, etc.)" class="form-control" id="usr">
 </div>
    
<div class="col-md-4">
  <label for="usr">Height:</label>
  <input type="text" ng-model="height" placeholder="character height -- include unit (feet, inches, cm, etc.)" class="form-control" id="usr">
  </div>
    
<div class="col-md-4">
  <label for="usr">Weight:</label>
  <input type="text" ng-model="weight" placeholder="character weight -- include unit (tons, lbs, grams, etc.)" class="form-control" id="usr">
 </div>

<div class="col-md-4">
  <label for="usr">Experience Points:</label>
  <input type="text" ng-model="xp" placeholder="xp" class="form-control" id="usr">
 </div>
  </div> 
      
<!-- Dropdown Menus!-->    
<div class="row">
<div class="col-md-4">
       <div class="btn-group">
            <div id='background'>
                    <select ng-model="background" placeholder="background">
                    </select>
                </div>
        </div>
    <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#bgmodal">?</button> 
    
 </div>
 
      
      
<div class="col-md-4">
       <div class="btn-group">
            <div id='language'>
                    <select ng-model="language" placeholder="language">
                    </select>
                </div>
        </div>
    <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#langmodel">?</button>
 </div>
    
      
 <div class="col-md-4">
       <div class="btn-group">
            <div id='factions'>
                    <select ng-model="faction" placeholder="faction">
                    </select>
                </div>
        </div>
    <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#factmodel">?</button>
    </div>
        </div>
        
        
<div class="row">
     <div class="col-md-4">
       <div class="btn-group">
            <div id='classes'>
                    <select ng-model="class" placeholder="class">
                    </select>
                </div>
           
        </div>
         
    <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#classmodel">?</button>
      </div>
 
   
<div class="col-md-4">
       <div class="btn-group">
            <div id='race'>
                    <select ng-model="race" placeholder="race">
                    </select>
                </div>
        </div>
     <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#racemodel">?</button>
          </div>
          
          
<div class="col-md-4">
       <div class="btn-group">
            <div id='alignment'>
                    <select ng-model="alignment" placeholder="alignment">
                    </select>
                </div>
        </div>
     <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#alignmodel">?</button>
          </div>
    </div>
 <div class="row">         
<div class="col-md-4">
       <div class="btn-group">
            <div id='ability'>
                    <select ng-model="ability" placeholder="ability">
                    </select>
                </div>
        </div>
     <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#abmodel">?</button>
          </div>
    
   
<div class="col-md-4">
       <div class="btn-group">
            <div id='skills'>
                    <select ng-model="skills" placeholder="skills">
                    </select>
                </div>
        </div>
    <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#skmodel">?</button>
          </div>
 
    
   </div>
   <div class="container-fluid text-center">
	<br>
       <br>
       <br>
       <div><button id = submit ng-click="add()"> <h3>Submit</h3></button></div>
       
       <div>
			<p>Press 'All' for a complete list of the characters in our database.</p>
			<input type="text" ng-model="characters" style="display:none">
			<button ng-click="all()">All</button>

			<table>
				<tr ng-repeat="c in characters">
					<td>{{c.name}}</td>
					<td>{{c.sex}}</td>
					<td>{{c.player}}</td>
                    <td>{{c.age}}</td>
					<td>{{c.height}}</td>
					<td>{{c.weight}}</td>
                    <td>{{c.xp}}</td>
					<td>{{c.background}}</td>
					<td>{{c.class}}</td>
                    <td>{{c.ability}}</td>
					<td>{{c.language}}</td>
					<td>{{c.race}}</td>
                    <td>{{c.skill}}</td>
					<td>{{c.faction}}</td>
					<td>{{c.alignment}}</td>
                    
					<td><button ng-click="$parent.remove(m)">Remove</button></td>
				</tr>
			</table>
    </div>
       
    


</div>
 
    


<!-- Modals-->
<div id="bgmodal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Backgrounds:</h4>
      </div>
      <div class="modal-body">
        <p>Visit the following link for detailed information on each background:
          <a href="http://engl393-dnd5th.wikia.com/wiki/Backgrounds#ListofBackgrounds">List of backgrounds</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
    
<div id="langmodel" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Languages:</h4>
      </div>
      <div class="modal-body">
        <p>Visit the following link for detailed information on languages:
            <a href="http://engl393-dnd5th.wikia.com/wiki/Languages">List of languages</a>
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="factmodel" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Factions:</h4>
      </div>
      <div class="modal-body">
        <p>
            Visit the following link for detailed information on factions:
            <a href="http://dnd.wizards.com/dungeons-and-dragons/story/factions">List of factions</a>
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
    </div>
    
<div id="classmodel" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Classes:</h4>
      </div>
      <div class="modal-body">
        <p>Visit the following link for detailed information on classes:
            <a href="https://roll20.net/compendium/dnd5e/Classes%20by%20Name#content">List of classes</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
    </div>

<div id="racemodel" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Race:</h4>
      </div>
      <div class="modal-body">
        <p>Visit the following link for detailed information on races:
            <a href="http://engl393-dnd5th.wikia.com/wiki/D%26D_5E_Adventure_League_Playable_Races">List of races</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
    </div>
    
<div id="alignmodel" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Alignment:</h4>
      </div>
      <div class="modal-body">
        <p>Visit the following link for detailed information on alignments:
            <a href="http://engl393-dnd5th.wikia.com/wiki/Alignment">List of alignments</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
    </div>
    
<div id="abmodel" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Ability:</h4>
      </div>
      <div class="modal-body">
        <p>Visit the following link for detailed information on abilities:
            <a href="https://roll20.net/compendium/dnd5e/Ability%20Scores#content">List of abilities</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
    </div>
    
    <div id="skmodel" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Skills:</h4>
      </div>
      <div class="modal-body">
        <p>Visit the following link for detailed information on skills:
            <a href="https://roll20.net/compendium/dnd5e/Ability%20Scores#toc_6">List of skills</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
    </div>
 <script 
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js">
		</script>
		<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src='character.js'></script>
    </div>
    </div>
</body>
</html>
<script src="js/newRNG.js"></script>
<script src="js/classes.js"></script>
<script src="js/factions.js"></script>
<script src="js/backgrounds.js"></script>
<script src="js/languages.js"></script>
<script src="js/race.js"></script>
<script src="js/alignment.js"></script>
<script src="js/ability.js"></script>
<script src="js/skills.js"></script>
